.my-orders-header {
  margin-bottom: 20px;
}

.order-container {
  margin-bottom: 20px;
}

.order-number-row {
  margin-bottom: 15px;
}

.order-number-row h3 {
  display: inline-block;
}

.order-number-row span {
  float: right;
}

.cancel-order-row {
  margin-top: 20px;
}

.total-amount {
  display: inline-block;
  line-height: 40px;
  margin-right: 20px;
}

.cancel-order-button {
  position: relative;
  top: -4px;
}
